name: Benchmark tests

on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string
      compiler-ref:
        required: false
        type: string
      benchmarks-ref:
        required: false
        type: string
        default: main
    
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
      - name: Check out benchmarks
        uses: actions/checkout@v2
        with:
          repository: lf-lang/benchmarks
          ref: ${{ inputs.benchmarks-ref}}
      - name: Check out lingua-franca repository
        uses: actions/checkout@v2
        with:
          repository: lf-lang/lingua-franca
          submodules: true
          ref: ${{ inputs.compiler-ref }}
          path: lf
      - name: Prepare LF build environment
        uses: lf-lang/lingua-franca/.github/actions/prepare-build-env@java-ci
      - name: Install Python dependencies
        run: pip3 install -r runner/requirements.txt      
      - name: Build lfc
        run: |
          cd lf
          ./gradlew buildLfc
      - name: Set LF_PATH and LF_BENCHMARKS_PATH environmental variable
        run: |
          echo "LF_PATH=$GITHUB_WORKSPACE/lf" >> $GITHUB_ENV
          echo "LF_BENCHMARKS_PATH=$GITHUB_WORKSPACE" >> $GITHUB_ENV
      - name: Test C benchmarks
        run: |
          python3 runner/run_benchmark.py -m test_mode=True iterations=1 benchmark="glob(*)" target=lf-c,lf-c-unthreaded
        if: ${{ inputs.target == 'C' }}
      - name: Compile reactor-cpp once and reuse for all benchmarks
        run: |
          mkdir -p reactor-cpp/build
          cd reactor-cpp/build
          cmake -DCMAKE_INSTALL_PREFIX=../install ../../lf/org.lflang/src/lib/cpp/reactor-cpp
          make install
          echo "LD_LIBRARY_PATH=$GITHUB_WORKSPACE/reactor-cpp/install/lib" >> $GITHUB_ENV
        if: ${{ inputs.target == 'Cpp' }}
      - name: Test C++ benchmarks
        run: |
          python3 runner/run_benchmark.py -m test_mode=True iterations=1 benchmark="glob(*)" target=lf-cpp iterations=1 target.params.extra_args="[--external-runtime-path, ${GITHUB_WORKSPACE}/reactor-cpp/install]"
        if: ${{ inputs.target == 'Cpp' }}
      - name: Setup Rust
        uses: ATiltedTree/setup-rust@v1
        with:
          rust-version: nightly
          components: clippy
        if: ${{ inputs.target == 'Rust' }}
      - name: Test Rust benchmarks
        run: |
          python3 runner/run_benchmark.py -m test_mode=True iterations=1 benchmark="glob(*)" target=lf-rust
        if: ${{ inputs.target == 'Rust' }}
